{% extends "wiki/base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"></a>
   

<a class="btn btn-primary" id="Css" href="{% url 'wiki:edit_page' page.title %}">Edit</a>
<a class="btn btn-primary" id="Css" href="{% url 'wiki:index' %}">Home</a>

    
    {% if request.user.is_authenticated %}
<div class="logout">
    <a logout_redirect href="{% url 'wiki:logout' %}" class="btn btn-danger">logout</a>
</div>
{% endif %}
{% if not request.user.is_authenticated %}
<div class="login">
        <a logout_redirect href="{% url 'wiki:login' %}" class="btn btn-danger">login</a>
</div>
{% endif %}
  </nav>
<h1>{{ page.title }}</h1>

{{page.content}}





{% endblock %}
