{% extends "wiki/base.html"%}

{% load static %}



{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="nav">
  <a class="nav-link" href="{% url 'wiki:upload' %}">Upload</a> <!--This  link takes the user to the page where you can upload files to wiki page-->
  {% if request.user.is_authenticated %}
  <a class="nav-link" logout_redirect href="{% url 'wiki:logout' %}" >Logout</a><!--This is the way that the user can logout to there account-->
  {% else %}
  <a class="nav-link" logout_redirect href="{% url 'wiki:login' %}" >Login</a> <!--This is the way that the user can login to there account-->
  {% endif %}
</nav>
</nav>





<h2>{{title}}</h2>

<h1>Wiki Index</h1> <!--this is the heading for the home page-->

<link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}"> <!--This is a link for the CSS-->



<div class="container">


  {% if pages %}

  <ul class="list-group" id="id01">

    {% for page in pages %}

    <li class="list"><a href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a>

    </li>

    {% endfor %}

  </ul>

  {% else %}

  <p>No pages are available at the moment</p>

  {% endif %}

</div>

<footer class="footer">
<p class="text-center">The browser used to load this page is {{ request.META.HTTP_USER_AGENT }}</p> <!--This is being used to diplayed the user browser informatishion and what browser they are using to look at the Wiki-->

</footer>
{% endblock content %}