{% extends "wiki/base.html"%}

{% load static %}



{% block content %}

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline"></form>
    {% if request.user.is_authenticated %}
<div class="logout">
    <a logout_redirect href="{% url 'wiki:logout' %}" class="btn btn-danger">logout</a>
</div>
{% endif %}
{% if not request.user.is_authenticated %}
<div class="login">
        <a logout_redirect href="{% url 'wiki:login' %}" class="btn btn-danger">login</a>
</div>
{% endif %}
  </nav>

<h2>{{title}}</h2>

<h1>Wiki index</h1>

<link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}">



<div class="container">


{% if pages %}

<ul class="list-group" id="id01" >

{% for page in pages %}

<li class="list" ><a href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a>

</li>

{% endfor %} 

</ul>

{% else %}

<p>No pages are available</p>

{% endif %} 



</div>

{% endblock content %}