body{
    background-color: gainsboro; /*This is the color of the back ground of the wiki*/
}
li{
 
    text-align: left;
    list-style-type: none;
}
h1{
    text-align: center;
    font-size: 35px; 
    font-style: normal ;
    color: blue;
}
.list{
    border: 1px solid black;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius:  10px;
}
#Css{
    width: 60px;
    height: 35px;
}

.container_for_text{
   /* border: 1px solid black;*/ /*This is comment out because I have used this to see where my container is located on the screen*/
    padding-right: 5px;
    padding-left: 5px;
}